@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .a-white {
    @apply hover:text-white duration-200 ease-in-out cursor-pointer;
  }
  .primary-hover {
    @apply hover:text-primary duration-200 ease-in-out cursor-pointer;
  }
}

*,*:focus,*:hover{
  outline:none;
}

:root {
  --primary: #AB8677;
  --black: #0B0B0B;
  --white: #ffffff;
  --grey: #AEAEAE;
  --light_grey: #E0E0E0;
}

body {
  font-family: "Mulish", sans-serif;
  font-weight: 450;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1{
  font-size: 3.75rem!important;
  font-weight: 600;
}

input[type="radio"] {
  display: none;
}
/* Hero carousel */

li.slick-active > div {
  background-color: var(--black)!important;
}

.slick-dots li {
  margin: 0!important;
}

/* Product carousel */
/* hover:transition duration-200 ease-in-out */
.transition-colors {
  transition: 200ms ease-in-out;
}

textarea:focus, input:focus{
  outline: none;
}

/*Dropdown*/
.Dropdown-option:hover {
  color: var(--primary);
  transition: all 2ms ease-in-out;
}

.Dropdown-option.is-selected {
  color: var(--primary);
}

.arrow-closed {
  transition: transform 0.3s ease-in-out; /* Transition effect for rotation */
}

.arrow-closed.rotate-180 {
  transform: rotate(180deg); /* Rotate the arrow icon by 180 degrees */
}

.arrow-open {
  transition: transform 0.3s ease-in-out; /* Transition effect for rotation */
}

.arrow-open.rotate-180 {
  transform: rotate(180deg); /* Rotate the arrow icon by 180 degrees */
}

.max-h-inherit {
  max-height: inherit;
}

.category-item input[type="checkbox"] {
    accent-color: black;
    width: 16px;
    height: 16px;
    border-radius: 0em;
}

.category-item span .partial::after {
    content: "—"; /* En dash for a more aesthetic dash, but you can use "-" for a simple dash */
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;  /* Adjust this based on your actual checkbox size */
    pointer-events: none;
}

