.primary {
  background-color: #0B0B0B;
  color: #fff;
  padding: 12px 24px;
}

.ghost {
  background-color: transparent;
  color: #0B0B0B;
  border: 1px solid #0B0B0B;
  padding: 12px 24px;
}

.transparent {
  background-color: transparent;
  color: #0B0B0B;
  padding: 12px 24px;
}